* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background: #0f172a;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: inherit;
}